// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";
.main-wrapper {
  padding-right: 10px;
  padding-left: 10px;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}
